[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = lukynet
	email = 98685127+LukyNet21@users.noreply.github.com
[core]
	editor = nvim
